.div1{
	width: 100px;
	height: 100px;
	background-color: blue;
	margin-left: 600px;
	margin-top: 200px;
}

 #b2{
      margin-top: 20px;
 }
 
 #b3{
      margin-top: 20px;
 }
 
 #b4{
      margin-top: 20px;
 }
 
 #b5{
      margin-top: 20px;
 }
 .id2{
 	margin-top: -130px;
 	margin-left: 200px;
 }